USE [LBD_Practica5]
GO
ALTER TABLE [dbo].[Maestro] DROP CONSTRAINT [FK__Maestro__Materia__76969D2E]
GO
ALTER TABLE [dbo].[jugadores] DROP CONSTRAINT [Equipo_fk]
GO
ALTER TABLE [dbo].[estudiantes] DROP CONSTRAINT [FK__estudiant__Facul__7B5B524B]
GO
ALTER TABLE [dbo].[estudiantes] DROP CONSTRAINT [FK__estudiant__Carre__7A672E12]
GO
ALTER TABLE [dbo].[Carrera] DROP CONSTRAINT [FK__Carrera__Faculta__797309D9]
GO
/****** Object:  Index [IDX_MATERIA]    Script Date: 30/03/2019 09:41:17 p. m. ******/
DROP INDEX [IDX_MATERIA] ON [dbo].[Materia]
GO
/****** Object:  Index [IDX_MAESTRO]    Script Date: 30/03/2019 09:41:17 p. m. ******/
DROP INDEX [IDX_MAESTRO] ON [dbo].[Maestro]
GO
/****** Object:  Index [IDX_NAC]    Script Date: 30/03/2019 09:41:17 p. m. ******/
DROP INDEX [IDX_NAC] ON [dbo].[IMSS]
GO
/****** Object:  Index [IDX_SUC]    Script Date: 30/03/2019 09:41:17 p. m. ******/
DROP INDEX [IDX_SUC] ON [dbo].[Gamers]
GO
/****** Object:  Index [IDX_MATRICULA]    Script Date: 30/03/2019 09:41:17 p. m. ******/
DROP INDEX [IDX_MATRICULA] ON [dbo].[estudiantes]
GO
/****** Object:  Index [INX_EQU]    Script Date: 30/03/2019 09:41:17 p. m. ******/
DROP INDEX [INX_EQU] ON [dbo].[equipofutbol]
GO
/****** Object:  Index [idx_equipo]    Script Date: 30/03/2019 09:41:17 p. m. ******/
DROP INDEX [idx_equipo] ON [dbo].[equipofutbol]
GO
/****** Object:  Index [IDX_EMP]    Script Date: 30/03/2019 09:41:17 p. m. ******/
DROP INDEX [IDX_EMP] ON [dbo].[empleado]
GO
/****** Object:  Table [dbo].[VideoJuegos]    Script Date: 30/03/2019 09:41:17 p. m. ******/
DROP TABLE [dbo].[VideoJuegos]
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 30/03/2019 09:41:17 p. m. ******/
DROP TABLE [dbo].[Materia]
GO
/****** Object:  Table [dbo].[Maestro]    Script Date: 30/03/2019 09:41:17 p. m. ******/
DROP TABLE [dbo].[Maestro]
GO
/****** Object:  Table [dbo].[jugadores]    Script Date: 30/03/2019 09:41:17 p. m. ******/
DROP TABLE [dbo].[jugadores]
GO
/****** Object:  Table [dbo].[IMSS]    Script Date: 30/03/2019 09:41:17 p. m. ******/
DROP TABLE [dbo].[IMSS]
GO
/****** Object:  Table [dbo].[Gamers]    Script Date: 30/03/2019 09:41:17 p. m. ******/
DROP TABLE [dbo].[Gamers]
GO
/****** Object:  Table [dbo].[Facultades]    Script Date: 30/03/2019 09:41:17 p. m. ******/
DROP TABLE [dbo].[Facultades]
GO
/****** Object:  Table [dbo].[estudiantes]    Script Date: 30/03/2019 09:41:17 p. m. ******/
DROP TABLE [dbo].[estudiantes]
GO
/****** Object:  Table [dbo].[equipofutbol]    Script Date: 30/03/2019 09:41:17 p. m. ******/
DROP TABLE [dbo].[equipofutbol]
GO
/****** Object:  Table [dbo].[empleado]    Script Date: 30/03/2019 09:41:17 p. m. ******/
DROP TABLE [dbo].[empleado]
GO
/****** Object:  Table [dbo].[Carrera]    Script Date: 30/03/2019 09:41:17 p. m. ******/
DROP TABLE [dbo].[Carrera]
GO
USE [master]
GO
/****** Object:  Database [LBD_Practica5]    Script Date: 30/03/2019 09:41:17 p. m. ******/
DROP DATABASE [LBD_Practica5]
GO
/****** Object:  Database [LBD_Practica5]    Script Date: 30/03/2019 09:41:17 p. m. ******/
CREATE DATABASE [LBD_Practica5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LBD_Practica2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\LBD_Practica2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LBD_Practica2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\LBD_Practica2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LBD_Practica5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LBD_Practica5]
GO
/****** Object:  Table [dbo].[Carrera]    Script Date: 30/03/2019 09:41:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrera](
	[Carrera_id] [int] NOT NULL,
	[Nombre_Carrera] [varchar](50) NOT NULL,
	[Semestres] [int] NOT NULL,
	[Facultad_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Carrera_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleado]    Script Date: 30/03/2019 09:41:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleado](
	[Empleado_id] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido_Paterno] [varchar](50) NULL,
	[Apellido_Materno] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Nombre_Completo]  AS (((([Nombre]+' ')+[Apellido_Paterno])+' ')+[Apellido_Materno]),
PRIMARY KEY CLUSTERED 
(
	[Empleado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipofutbol]    Script Date: 30/03/2019 09:41:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipofutbol](
	[Equipo_id] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Presupuesto] [money] NULL,
	[Presidente] [varchar](50) NULL,
	[Pais] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Equipo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estudiantes]    Script Date: 30/03/2019 09:41:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estudiantes](
	[Matricula_id] [int] NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[Apellidos] [varchar](20) NOT NULL,
	[NombreCompleto]  AS (([Apellidos]+' ')+[Nombre]),
	[calificaciones] [int] NULL,
	[Carrera_id] [int] NULL,
	[Facultad_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Matricula_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facultades]    Script Date: 30/03/2019 09:41:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facultades](
	[Facultad_id] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Facultad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gamers]    Script Date: 30/03/2019 09:41:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gamers](
	[Sucursal_id] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Ubicacion] [varchar](100) NULL,
	[Ventas] [money] NULL,
	[Identificacion]  AS (([nombre]+' ')+[Ubicacion]),
PRIMARY KEY CLUSTERED 
(
	[Sucursal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMSS]    Script Date: 30/03/2019 09:41:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMSS](
	[Nacimiento_id] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[ApellidoPaterno] [varchar](50) NULL,
	[ApellidoMaterno] [varchar](50) NULL,
	[Hora_Nacimiento] [time](7) NULL,
	[Fecha_Nacimiento] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Nacimiento_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jugadores]    Script Date: 30/03/2019 09:41:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jugadores](
	[Jugador_id] [varchar](50) NOT NULL,
	[Equipo_id] [varchar](50) NOT NULL,
	[Pais] [varchar](50) NOT NULL,
	[Precio] [money] NOT NULL,
	[Numero] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Jugador_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maestro]    Script Date: 30/03/2019 09:41:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maestro](
	[Maestro_id] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido_Paterno] [varchar](50) NULL,
	[Apellido_Materno] [varchar](50) NULL,
	[Fecha_Nacimiento] [date] NULL,
	[Edad]  AS (datediff(year,[Fecha_Nacimiento],getdate())),
	[Materia_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Maestro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 30/03/2019 09:41:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materia](
	[Materia_id] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Creditos] [tinyint] NULL,
	[Semestre] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Materia_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VideoJuegos]    Script Date: 30/03/2019 09:41:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoJuegos](
	[id_videojuego] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[precio] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_videojuego] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Carrera] ([Carrera_id], [Nombre_Carrera], [Semestres], [Facultad_id]) VALUES (1, N'Seguridad en Tecnologias de la Informacion', 8, 25)
INSERT [dbo].[Carrera] ([Carrera_id], [Nombre_Carrera], [Semestres], [Facultad_id]) VALUES (2, N'Licenciatura en Matematicas', 9, 25)
INSERT [dbo].[Carrera] ([Carrera_id], [Nombre_Carrera], [Semestres], [Facultad_id]) VALUES (3, N'Licenciatura en Fisica', 9, 25)
INSERT [dbo].[empleado] ([Empleado_id], [Nombre], [Apellido_Paterno], [Apellido_Materno], [Email]) VALUES (N'e51ce871-a94d-4a24-8187-0b5f0c71b16a', N'Carlos Adrian', N'Perez', N'Cortez', NULL)
INSERT [dbo].[empleado] ([Empleado_id], [Nombre], [Apellido_Paterno], [Apellido_Materno], [Email]) VALUES (N'3a00299f-8e4f-43f8-8aa0-20b2092fcb7a', N'Claudia', N'Alina', N'Madrigal', NULL)
INSERT [dbo].[empleado] ([Empleado_id], [Nombre], [Apellido_Paterno], [Apellido_Materno], [Email]) VALUES (N'8471d4df-a224-45e7-a370-2426e3d3af06', N'Delia', N'Armendaris', N'Martinez', NULL)
INSERT [dbo].[equipofutbol] ([Equipo_id], [Nombre], [Presupuesto], [Presidente], [Pais]) VALUES (N'1', N'Barcelona', 95000000000.0000, N'Josep Maria Bartomeu', N'España')
INSERT [dbo].[equipofutbol] ([Equipo_id], [Nombre], [Presupuesto], [Presidente], [Pais]) VALUES (N'10', N'Manchester City F.C', 65000000000.0000, N'Khaldoon Al Mubarak', N'Inglaterra')
INSERT [dbo].[equipofutbol] ([Equipo_id], [Nombre], [Presupuesto], [Presidente], [Pais]) VALUES (N'100', N'Club America', 2342412500.0000, N'Santiago Baños', N'Mexico')
INSERT [dbo].[estudiantes] ([Matricula_id], [Nombre], [Apellidos], [calificaciones], [Carrera_id], [Facultad_id]) VALUES (1623496, N'JOSUE MAGDALENO', N'TELLEZ MARTINEZ', 90, 11, 40)
INSERT [dbo].[estudiantes] ([Matricula_id], [Nombre], [Apellidos], [calificaciones], [Carrera_id], [Facultad_id]) VALUES (1624562, N'VICTOR ALFONSO', N'GALLARDO VITELA', 87, 12, 50)
INSERT [dbo].[estudiantes] ([Matricula_id], [Nombre], [Apellidos], [calificaciones], [Carrera_id], [Facultad_id]) VALUES (1625958, N'BRANDON ALONSO', N'DAVILA SANCHEZ', 88, 1, 25)
INSERT [dbo].[Facultades] ([Facultad_id], [Nombre]) VALUES (25, N'Facultad de Ciencias Fisico Matematicas')
INSERT [dbo].[Facultades] ([Facultad_id], [Nombre]) VALUES (30, N'Facultad de Ciencias Quimicas')
INSERT [dbo].[Facultades] ([Facultad_id], [Nombre]) VALUES (35, N'Facultad de Ciencias Bioologicas')
INSERT [dbo].[Gamers] ([Sucursal_id], [Nombre], [Ubicacion], [Ventas]) VALUES (21, N'GAMERS VALLE ORIENTE', N'CAMASHA VALLE ORIENTE', 3023000.0000)
INSERT [dbo].[Gamers] ([Sucursal_id], [Nombre], [Ubicacion], [Ventas]) VALUES (23, N'GAMERS SENDERO APODACA', N'SENDERO APODACA', 5000000.0000)
INSERT [dbo].[Gamers] ([Sucursal_id], [Nombre], [Ubicacion], [Ventas]) VALUES (54, N'GAMERS SENDERO ESCOBEDDO', N'SENDERO ESCOBEDO', 6654000.0000)
INSERT [dbo].[IMSS] ([Nacimiento_id], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Hora_Nacimiento], [Fecha_Nacimiento]) VALUES (23, N'JUAN', N'GUADALUPE', N'TELLEZ', CAST(N'18:22:00' AS Time), CAST(N'1986-02-02' AS Date))
INSERT [dbo].[IMSS] ([Nacimiento_id], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Hora_Nacimiento], [Fecha_Nacimiento]) VALUES (43, N'JOSE LUIS', N'DAVILA', N'HERNANDEZ', CAST(N'12:01:00' AS Time), CAST(N'1987-08-23' AS Date))
INSERT [dbo].[IMSS] ([Nacimiento_id], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Hora_Nacimiento], [Fecha_Nacimiento]) VALUES (44, N'ANTONIO', N'SEGOVIANO', N'MARTINEZ', CAST(N'18:59:00' AS Time), CAST(N'2002-11-25' AS Date))
INSERT [dbo].[jugadores] ([Jugador_id], [Equipo_id], [Pais], [Precio], [Numero], [Nombre]) VALUES (N'1534', N'2', N'Inglaterra', 2324300000.0000, N'5665436523', N'Harry Kane')
INSERT [dbo].[jugadores] ([Jugador_id], [Equipo_id], [Pais], [Precio], [Numero], [Nombre]) VALUES (N'2023', N'9', N'Brasil', 25425600000.0000, N'566746523', N'Neymar')
INSERT [dbo].[jugadores] ([Jugador_id], [Equipo_id], [Pais], [Precio], [Numero], [Nombre]) VALUES (N'2131', N'1', N'Argentina', 2413600000.0000, N'8112345876', N'Lionel Messi')
INSERT [dbo].[Maestro] ([Maestro_id], [Nombre], [Apellido_Paterno], [Apellido_Materno], [Fecha_Nacimiento], [Materia_id]) VALUES (56728, N'Alfonso', N'Gonzalez', N'Zambrano', CAST(N'1980-12-05' AS Date), 15)
INSERT [dbo].[Maestro] ([Maestro_id], [Nombre], [Apellido_Paterno], [Apellido_Materno], [Fecha_Nacimiento], [Materia_id]) VALUES (1005764, N'Jesus Renato', N'Colunga', N'De la Garza', CAST(N'1977-02-19' AS Date), 2)
INSERT [dbo].[Maestro] ([Maestro_id], [Nombre], [Apellido_Paterno], [Apellido_Materno], [Fecha_Nacimiento], [Materia_id]) VALUES (1103424, N'Delia', N'Armendaris', N'Martinez', CAST(N'1975-09-04' AS Date), 3)
INSERT [dbo].[Materia] ([Materia_id], [Nombre], [Creditos], [Semestre]) VALUES (1, N'Base de datos', 2, 3)
INSERT [dbo].[Materia] ([Materia_id], [Nombre], [Creditos], [Semestre]) VALUES (2, N'Sistemas Operativos', 2, 3)
INSERT [dbo].[Materia] ([Materia_id], [Nombre], [Creditos], [Semestre]) VALUES (3, N'Telecomunicaciones II', 3, 3)
INSERT [dbo].[VideoJuegos] ([id_videojuego], [nombre], [precio]) VALUES (50, N'Kingdom Hearts 3', 999.0000)
INSERT [dbo].[VideoJuegos] ([id_videojuego], [nombre], [precio]) VALUES (52, N'Devil May Cry 5', 1299.0000)
INSERT [dbo].[VideoJuegos] ([id_videojuego], [nombre], [precio]) VALUES (55, N'Resident Evil 2 ', 1200.0000)
/****** Object:  Index [IDX_EMP]    Script Date: 30/03/2019 09:41:18 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_EMP] ON [dbo].[empleado]
(
	[Empleado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_equipo]    Script Date: 30/03/2019 09:41:18 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_equipo] ON [dbo].[equipofutbol]
(
	[Equipo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [INX_EQU]    Script Date: 30/03/2019 09:41:18 p. m. ******/
CREATE NONCLUSTERED INDEX [INX_EQU] ON [dbo].[equipofutbol]
(
	[Equipo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_MATRICULA]    Script Date: 30/03/2019 09:41:18 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_MATRICULA] ON [dbo].[estudiantes]
(
	[Matricula_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SUC]    Script Date: 30/03/2019 09:41:18 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_SUC] ON [dbo].[Gamers]
(
	[Sucursal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_NAC]    Script Date: 30/03/2019 09:41:18 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_NAC] ON [dbo].[IMSS]
(
	[Nacimiento_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_MAESTRO]    Script Date: 30/03/2019 09:41:18 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_MAESTRO] ON [dbo].[Maestro]
(
	[Maestro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_MATERIA]    Script Date: 30/03/2019 09:41:18 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_MATERIA] ON [dbo].[Materia]
(
	[Materia_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Carrera]  WITH CHECK ADD FOREIGN KEY([Facultad_id])
REFERENCES [dbo].[Facultades] ([Facultad_id])
GO
ALTER TABLE [dbo].[estudiantes]  WITH CHECK ADD FOREIGN KEY([Carrera_id])
REFERENCES [dbo].[Carrera] ([Carrera_id])
GO
ALTER TABLE [dbo].[estudiantes]  WITH CHECK ADD FOREIGN KEY([Facultad_id])
REFERENCES [dbo].[Facultades] ([Facultad_id])
GO
ALTER TABLE [dbo].[jugadores]  WITH CHECK ADD  CONSTRAINT [Equipo_fk] FOREIGN KEY([Equipo_id])
REFERENCES [dbo].[equipofutbol] ([Equipo_id])
GO
ALTER TABLE [dbo].[jugadores] CHECK CONSTRAINT [Equipo_fk]
GO
ALTER TABLE [dbo].[Maestro]  WITH CHECK ADD FOREIGN KEY([Materia_id])
REFERENCES [dbo].[Materia] ([Materia_id])
GO
USE [master]
GO
